<div [class]="isVillain() ? 'hero-item hero-villain' : 'hero-item'">
    <div  class="hero-img">
        <img [src]="hero().img" alt="Hero image" />
    </div>
    <div class="details">
        <div class="hero-name"> {{hero().name}}
        @if (isVillain()) {
            👿🦹
        }@else {
            😇🦸
        }
        </div>
    </div>

    @for(stats of hero().stats | keyvalue; track stats.key){
        <div class="hero-stats">
            <span>{{ stats.key | titlecase}}: {{ stats.value }}</span>
            <button [disabled]="stats.value === 1"
            (click)="decrementStats(stats.key)">-</button>
            <button [disabled]="stats.value === 99"
            (click)="increment(stats.key)">+</button>
        </div>
    }
</div>