<h3>Add Hero</h3>

<div>
    <h4 class="error">{{ message }}</h4>
    <form [formGroup]="hForm" (ngSubmit)="addHero()">
        <div class="row">
            <div class="column">
                <div class="input-group">
                    <label for="text">Nombre </label>
                    <input id="name" name="name" formControlName="name" type="text" placeholder="Name" required/>
                </div>
                @if (this.hForm.get("name")?.dirty && this.hForm.get("name")?.invalid) {
                    <div class="error">
                        @if (this.hForm.get("name")?.getError("required")) {
                            <div>* Hero name is required</div>
                        }
                        @if (this.hForm.get("name")?.getError("forbiddenName")) {
                            <div>* Hero name must be valid</div>
                        }
                    </div>
                }
                <div formGroupName="stats">
                    @for (stat of statsString; track stat) {
                        <div class="input-group">
                            <label [for]="stat">{{ stat | titlecase }} </label>
                            <input [id]="stat" [name]="stat" [formControlName]="stat" type="number" [placeholder]="stat | titlecase" required/>
                        </div>
                        @if (this.hForm.get("stats")?.get(stat)?.dirty && this.hForm.get("stats")?.get(stat)?.invalid) {
                            <div class="error">
                                @if (this.hForm.get("stats")?.get(stat)?.getError("required")) {
                                    <div>* Hero {{stat}} is required</div>
                                }
                                @if (this.hForm.get("stats")?.get(stat)?.getError("min") ||
                                this.hForm.get("stats")?.get(stat)?.getError("max")) {
                                    <div>* The value must be betwen 1 and 99</div>
                                }
                            </div>
                        }
                    }              
                </div>
                <div class="input-group">
                    <label for="text">Image: </label>
                    <select formControlName="img">
                        @for (hero of heroesData; track hero) {
                            <option [value]="hero.enlace">
                                {{ hero.name }}
                            </option>
                        }
                    </select>
                </div>
                <div class="input-group">
                    <label for="text">Alingment </label>
                    <select formControlName="alignment">
                        <option value="good">
                            Good
                        </option>
                        <option value="bad" selected>
                            Bad
                        </option>
                    </select>
                </div>
            </div> 
        </div>
        <div class="row">
            <button [disabled]="hForm.invalid" [hidden]="hForm.invalid">Create</button>
        </div>
    </form>
</div>
