<footer class="bg-gray-800">
    <div class="max-w-screen-2xl mx-4 py-8">
        <div class="sm:flex sm:items-center sm: justify-between">
            <a href="https://angular.dev/" class="flex items-center mb-4 sm:mb-0">
                <img src="/avangular.png"
                alt="Avangular" class="h-15 mr-3">
                <span class="self-center text-2xl font-semibold">Avangular</span>
            </a>
            <span>©(None) 2025-Today
                <a href="https://angular.dev/">(Nothing)</a>. All Rights Reserved ®.
            </span>
        </div>
    </div>
</footer>
